<header class="blue_header">
  <h1>Sign In</h1>
</header>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(workers_session_path) do %>
      <fieldset>
        <ol>
          <li>
            <%= label_tag :mobile_number%>
            <%= text_field_tag :mobile_number, nil, autofocus: true, required: true, size: 20 %>
          </li>
          <li>
            <%= label_tag :password %>
            <%= password_field_tag :password, nil, required: true, size: 40 %>
          </li>
        </ol>
        <p>
          <%= submit_tag 'Sign In', class: "btn btn-primary" %>
        </p>
        <p>
          <%= link_to 'Forgot your password?', forgot_password_path %>
        </p>
        <p>
          No account yet? <%= link_to 'Sign up!', choose_role_path %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>
