<header id="content-header">
  <h1>Confirm Phone Number</h1>
</header>

<%= form_for(@user) do |f| %>
  <%= render "shared/errors", object: @user %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :mobile_confirmation_token %>
        <%= f.text_field :mobile_confirmation_token, size: 40, autofocus: true %>
      </li>
    </ol>
    <p>
      <%= f.submit "Confirm Mobile Number" %>
    </p>
  </fieldset>
<% end %>
