<header class"blue_header">
  <h1>Confirm Phone Number</h1>
</header>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :user, :url => verify_confirmation_user_path(@user), :html => {:method => :post}  do |f| %>
      <%= render "shared/errors", object: @user %>
      <fieldset>
        <ol>
          <li>
            <%= f.label :mobile_confirmation_code %>
            <%= f.text_field :mobile_confirmation_code, size: 40, autofocus: true %>
          </li>
        </ol>
        <p>
          <%= f.submit "Confirm Mobile Number", class: "btn btn-primary" %>
        </p>
        <p>
          Didn't receive the SMS? <%= link_to 'Resend verification', resend_confirmation_user_path(@user)  %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>