<header class="blue_header">
  <h1>Edit Account</h1>
</header>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render "shared/errors", object: @user %>
      <fieldset>
        <ol>
          <li>
            <%= f.label :worker, 'I am looking for work', autofocus: true %>
            <%= f.radio_button :role, 'worker' %>
          </li>
          <li>
            <%= f.label :employer, 'I am wanting to hire' %>
            <%= f.radio_button :role, 'employer' %>
          </li>
          <li>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, size: 40 %>
          </li>
          <li>
            <%= f.label :last_name %>
            <%= f.text_field :last_name, size: 40 %>
          </li>
          <li>
            <%= f.label :mobile_number %>
            <%= f.telephone_field :mobile_number, size: 12 %>
          </li>
          <li>
            <%= f.label :profile_picture %>
            <%= f.file_field :profile_picture %>
          </li>
          <li>
            <%= f.label :password %>
            <%= f.password_field :password, size: 40 %>
          </li>
          <li>
            <%= f.label :password_confirmation, "Confirm Password" %>
            <%= f.password_field :password_confirmation, size: 40 %>
          </li>
        </ol>
        <p>
          <%= f.submit "Update Account", class: "btn btn-primary"  %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>