<header class="blue_header">
  <h1>Sign Up</h1>
</header>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render "shared/errors", object: @user %>
      <%= f.hidden_field :role %>
      <fieldset>
        <ol>
          <li>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, size: 40 %>
          </li>
          <li>
            <%= f.label :last_name %>
            <%= f.text_field :last_name, size: 40 %>
          </li>
          <li>
            <%= f.label :mobile_number %>
            <%= f.telephone_field :mobile_number, size: 12 %>
          </li>
          <li>
            <%= f.label :service %>
            <%= f.select :service, User::SERVICES.sort, prompt: "Pick one" %>
          </li>
          <li>
            <%= f.label :male, 'male', autofocus: true %>
            <%= f.radio_button :gender, 'male' %>
          </li>
          <li>
            <%= f.label :female, 'female' %>
            <%= f.radio_button :gender, 'female' %>
          </li>
          <li>
            <%= f.label :home_language %>
            <%= f.text_field :home_language, size: 40 %>
          </li>
          <li>
            <%= f.label :second_language %>
            <%= f.text_field :second_language, size: 40 %>
          </li>
          <li>
            <%= f.label :third_language %>
            <%= f.text_field :third_language, size: 40 %>
          </li>
          <li>
            <%= f.label :work_permit_status %>
            <%= f.select :work_permit_status, User::WORK_PERMIT_STATUSES.sort, prompt: "Pick one" %>
          </li>
          <li>
            <%= f.label :id_or_passport_number %>
            <%= f.text_field :id_or_passport_number, size: 40 %>
          </li>
          <li>
            <%= f.label :country_of_citizenship %>
            <%= f.text_field :country_of_citizenship, size: 40 %>
          </li>
          <li>
            <%= f.label :street_address %>
            <%= f.text_field :street_address, size: 40 %>
          </li>
          <li>
            <%= f.label :unit %>
            <%= f.text_field :unit, size: 40 %>
          </li>
          <li>
            <%= f.label :suburb %>
            <%= f.text_field :suburb, size: 40 %>
          </li>
          <li>
            <%= f.label :city %>
            <%= f.select :city, User::CITIES.sort, prompt: "Pick one" %>
          </li>
          <li>
            <%= f.label :province %>
            <%= f.text_field :province, size: 40 %>
          </li>
          <li>
            <%= f.label :postal_code %>
            <%= f.text_field :postal_code, size: 40 %>
          </li>
          <li>
            <%= f.label :country %>
            <%= f.text_field :country, size: 40 %>
          </li>
          <li>
            <%= f.label :drivers_license, "Do you have a valid drivers license" %>
            <%= f.select :drivers_license, [['Yes', true], ['No', false]], prompt: "Pick one" %>
          </li>
          <li>
            <%= f.label :password %>
            <%= f.password_field :password, size: 40 %>
          </li>
          <li>
            <%= f.label :password_confirmation, "Confirm Password" %>
            <%= f.password_field :password_confirmation, size: 40 %>
          </li>
        </ol>
        <p>
          <%= f.submit "Create Account", class: "btn btn-primary" %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>