<header class"blue_header">
  <h1>Choose a new password</h1>
</header>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: reset_password_user_path(@user)  do |f| %>
      <%= render "shared/errors", object: @user %>
      <fieldset>
        <ol>
          <li>
            <%= f.label :mobile_confirmation_code %>
            <%= f.text_field :mobile_confirmation_code, size: 20, autofocus: true %>
          </li>
          <li>
            <%= f.label :password %>
            <%= f.password_field :password, size: 40 %>
          </li>
          <li>
            <%= f.label :password_confirmation, "Confirm Password" %>
            <%= f.password_field :password_confirmation, size: 40 %>
          </li>
        </ol>
        <p>
          <%= f.submit "Change Password", class: "btn btn-primary" %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>