<header id="content-header">
  <h1>Sign Up</h1>
</header>

<%= form_for(@user) do |f| %>
  <%= render "shared/errors", object: @user %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :worker, 'I am looking for work', autofocus: true %>
        <%= f.radio_button :role, 'worker' %>
      </li>
      <li class="required">
        <%= f.label :employer, 'I am wanting to hire' %>
        <%= f.radio_button :role, 'employer' %>
      </li>
      <li class="required">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :mobile_number %>
        <%= f.telephone_field :mobile_number, size: 12 %>
      </li>
      <li class="required">
        <%= f.label :password %>
        <%= f.password_field :password, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, size: 40 %>
      </li>
    </ol>
    <p>
      <%= f.submit "Create Account" %>
    </p>
  </fieldset>
<% end %>
