<article>
  <header>
    <div class="profile-img">
      <%= image_tag @user.profile_picture.large.url %>
    </div>
    <h1>Name: <%= @user.first_name %></h1>
    <h2><%= mail_to(@user.email) %></h2>
    <h2>Role: <%= @user.role.capitalize if @user.role %></h2>
    <h2>Occupation: <%= @user.service if @user.service %></h2>
    <h2>Phone number: <%= @user.mobile_number if @user.mobile_number %></h2>
    <h2><%= @user.home_language if @user.home_language %></h2>
  </header>

  <footer>
    <nav>
      <% if current_user?(@user) %>
        <%= link_to 'Edit Account', edit_user_path(@user), class: "btn btn-primary" %> 
        <%= link_to 'Delete Account', @user, 
                    method: :delete,
                    data: { confirm: 'Are you sure you want to permanently delete your account?' }, class: "btn btn-danger" %> 
      <% else %>
        <%= link_to 'Give Reference', new_user_work_reference_path(@user), class: "btn btn-primary" %> 
      <% end %>
    </nav>

    <%= render 'work_references' %>

  </footer>
</article>
