<article>
  <header>
    <div class="profile-img">
      <%= image_tag @worker.profile_picture.large.url %>
    </div>
    <h1>Name: <%= @worker.full_name %></h1>
    <h2><%= mail_to(@worker.email) %></h2>
    <%- #<h2>Role: <%= @worker.role.capitalize if @worker.role</h2> %>
    <h2>Occupation: <%= @worker.service if @worker.service %></h2>
    <h2>Phone number: <%= @worker.mobile_number if @worker.mobile_number %></h2>
    <h2><%= @worker.home_language if @worker.home_language %></h2>
  </header>

  <footer>
    <nav>
      <% if current_worker?(@worker) %>
        <%= link_to 'Edit Account', edit_worker_path(@worker), class: "btn btn-primary" %> 
        <%= link_to 'Delete Account', @worker, 
                    method: :delete,
                    data: { confirm: 'Are you sure you want to permanently delete your account?' }, class: "btn btn-danger" %> 
      <% else %>
        <%= link_to 'Give Reference', new_worker_work_reference_path(@worker), class: "btn btn-primary" %> 
      <% end %>
    </nav>

    <%= render 'work_references' %>

  </footer>
</article>
