<aside id="sidebar">
  <nav>
    <ul>
      <li class="users">
        <%= link_to 'All Users', users_path, class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Gardening', filtered_users_path(:gardening), class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Domestic', filtered_users_path(:domestic), class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Nannying', filtered_users_path(:nannying), class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Labour', filtered_users_path(:labour), class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Painting', filtered_users_path(:painting), class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Carpentry', filtered_users_path(:carpentry), class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Building', filtered_users_path(:building), class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Plumbing', filtered_users_path(:plumbing), class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Electrical', filtered_users_path(:electrical), class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Pet care', filtered_users_path(:pet_care), class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Home care', filtered_users_path(:home_care), class: 'button' %>
      </li>
      <li class="users">
        <%= link_to 'Other', filtered_users_path(:other), class: 'button' %>
      </li>
    </ul>
  </nav>
</aside>