<aside id="sidebar">
  <nav>
   <div class="btn-group">
      <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Categories<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to 'All Users', workers_path, class: 'button' %>
          </li>
          <li>
            <%= link_to 'Gardening', filtered_workers_path(:gardening), class: 'button' %>
          </li>
          <li>
            <%= link_to 'Domestic', filtered_workers_path(:domestic), class: 'button' %>
          </li>
          <li>
            <%= link_to 'Nannying', filtered_workers_path(:nannying), class: 'button' %>
          </li>
          <li>
            <%= link_to 'Labour', filtered_workers_path(:labour), class: 'button' %>
          </li>
          <li>
            <%= link_to 'Painting', filtered_workers_path(:painting), class: 'button' %>
          </li>
          <li>
            <%= link_to 'Carpentry', filtered_workers_path(:carpentry), class: 'button' %>
          </li>
          <li>
            <%= link_to 'Building', filtered_workers_path(:building), class: 'button' %>
          </li>
          <li>
            <%= link_to 'Plumbing', filtered_workers_path(:plumbing), class: 'button' %>
          </li>
          <li>
            <%= link_to 'Electrical', filtered_workers_path(:electrical), class: 'button' %>
          </li>
          <li>
            <%= link_to 'Pet care', filtered_workers_path(:pet_care), class: 'button' %>
          </li>
          <li>
            <%= link_to 'Home care', filtered_workers_path(:home_care), class: 'button' %>
          </li>
          <li>
            <%= link_to 'Other', filtered_workers_path(:other), class: 'button' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</aside>
